header {
  background-color: white;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid white;
}

main {
  margin-top: 20px;
}

section {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid black;
}

article {
  background-color: lavender;
  padding: 10px;
  margin-bottom: 15px;
}

h3 {
  margin-top: 0;
}

ul li {
  list-style-type: disc;
}
